.slider-area
	.slider-area__layout
		.center
			.f-container
				.slider-area__wrapper
					.slider-area__item-wrapper.prompt-cell
						p.slider-area__item-title
							|Удовлетворенность за прошлый год, %
							span
								span.metric-description
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								i
									+svg2('question')
						.slider-area__item
							.slider-area__item-layer
								#satisfaction-prev-1.no-ui-slider.percent-slider
									p
										|Клиент 1
							.slider-area__item-layer
								#satisfaction-prev-2.no-ui-slider.percent-slider
									p
										|Клиент 2
							.slider-area__item-layer
								#satisfaction-prev-3.no-ui-slider.percent-slider
									p
										|Клиент 3
							.slider-area__item-layer
								#satisfaction-prev-4.no-ui-slider.percent-slider
									p
										|Клиент 4
							.slider-area__item-layer
								#satisfaction-prev-5.no-ui-slider.percent-slider
									p
										|Клиент 5
						//- .slider-area__metrics-wrapper
						//- 	p.slider-area__metrics-title
						//- 		|Клиенты/сегменты
						//- 	.slider-area__metrics
						//- 		.slider-area__metrics-client
						//- 			|1
						//- 		.slider-area__metrics-client
						//- 			|2
						//- 		.slider-area__metrics-client
						//- 			|3
						//- 		.slider-area__metrics-client
						//- 			|4
						//- 		.slider-area__metrics-client
						//- 			|5
					.slider-area__item-wrapper.prompt-cell
						p.slider-area__item-title
							|Удовлетворенность текущая, %
							span
								span.metric-description
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								i
									+svg2('question')
						.slider-area__item
							.slider-area__item-layer
								#satisfaction-curr-1.no-ui-slider.percent-slider
									p
										|Клиент 1
							.slider-area__item-layer
								#satisfaction-curr-2.no-ui-slider.percent-slider
									p
										|Клиент 2
							.slider-area__item-layer
								#satisfaction-curr-3.no-ui-slider.percent-slider
									p
										|Клиент 3
							.slider-area__item-layer
								#satisfaction-curr-4.no-ui-slider.percent-slider
									p
										|Клиент 4
							.slider-area__item-layer
								#satisfaction-curr-5.no-ui-slider.percent-slider
									p
										|Клиент 5
						//- .slider-area__metrics-wrapper
						//- 	p.slider-area__metrics-title
						//- 		|Клиенты/сегменты
						//- 	.slider-area__metrics
						//- 		.slider-area__metrics-client
						//- 			|1
						//- 		.slider-area__metrics-client
						//- 			|2
						//- 		.slider-area__metrics-client
						//- 			|3
						//- 		.slider-area__metrics-client
						//- 			|4
						//- 		.slider-area__metrics-client
						//- 			|5
					.slider-area__item-wrapper.prompt-cell.highlighted
						p.slider-area__item-title
							|Желаемая удовлетворенность
							span
								span.metric-description
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								i
									+svg2('question')
						.slider-area__item
							.slider-area__item-layer
								#satisfaction-wanted-1.no-ui-slider.percent-slider
									p
										|Клиент 1
							.slider-area__item-layer
								#satisfaction-wanted-2.no-ui-slider.percent-slider
									p
										|Клиент 2
							.slider-area__item-layer
								#satisfaction-wanted-3.no-ui-slider.percent-slider
									p
										|Клиент 3
							.slider-area__item-layer
								#satisfaction-wanted-4.no-ui-slider.percent-slider
									p
										|Клиент 4
							.slider-area__item-layer
								#satisfaction-wanted-5.no-ui-slider.percent-slider
									p
										|Клиент 5
						//- .slider-area__metrics-wrapper.prompt-cell
						//- 	p.slider-area__metrics-title
						//- 		|Клиенты/сегменты
						//- 	.slider-area__metrics
						//- 		.slider-area__metrics-client
						//- 			|1
						//- 		.slider-area__metrics-client
						//- 			|2
						//- 		.slider-area__metrics-client
						//- 			|3
						//- 		.slider-area__metrics-client
						//- 			|4
						//- 		.slider-area__metrics-client
						//- 			|5
					.slider-area__item-wrapper.prompt-cell
						p.slider-area__item-title
							|Вес удовлетворенности в изминении выручки
							span
								span.metric-description
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								i
									+svg2('question')
						.slider-area__item
							.slider-area__item-layer
								#satisfaction-weight-1.no-ui-slider.percent-slider-2
									p
										|Клиент 1
							.slider-area__item-layer
								#satisfaction-weight-2.no-ui-slider.percent-slider-2
									p
										|Клиент 2
							.slider-area__item-layer
								#satisfaction-weight-3.no-ui-slider.percent-slider-2
									p
										|Клиент 3
							.slider-area__item-layer
								#satisfaction-weight-4.no-ui-slider.percent-slider-2
									p
										|Клиент 4
							.slider-area__item-layer
								#satisfaction-weight-5.no-ui-slider.percent-slider-2
									p
										|Клиент 5
						//- .slider-area__metrics-wrapper.prompt-cell
						//- 	p.slider-area__metrics-title
						//- 		|Клиенты/сегменты
						//- 	.slider-area__metrics
						//- 		.slider-area__metrics-client
						//- 			|1
						//- 		.slider-area__metrics-client
						//- 			|2
						//- 		.slider-area__metrics-client
						//- 			|3
						//- 		.slider-area__metrics-client
						//- 			|4
						//- 		.slider-area__metrics-client
						//- 			|5
					.slider-area__item-wrapper.prompt-cell
						p.slider-area__item-title
							|Выручка за последний год
							span
								span.metric-description
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								i
									+svg2('question')
						.slider-area__item
							.slider-area__item-layer
								
								#revenue-prev-1.no-ui-slider.absolute-slider
									span.slider-area__max-value
										span.slider-area__summ
											|100
										span.slider-area__currency
											|тыс.руб
									span.slider-area__min-value
										span.slider-area__summ
											|1
										span.slider-area__currency
											|тыс.руб
									p
										|Клиент 1
							.slider-area__item-layer
								#revenue-prev-2.no-ui-slider.absolute-slider
									span.slider-area__max-value
										span.slider-area__summ
											|100
										span.slider-area__currency
											|тыс.руб
									span.slider-area__min-value
										span.slider-area__summ
											|1
										span.slider-area__currency
											|тыс.руб
									p
										|Клиент 2
							.slider-area__item-layer
								#revenue-prev-3.no-ui-slider.absolute-slider
									span.slider-area__max-value
										span.slider-area__summ
											|100
										span.slider-area__currency
											|тыс.руб
									span.slider-area__min-value
										span.slider-area__summ
											|1
										span.slider-area__currency
											|тыс.руб
									p
										|Клиент 3
							.slider-area__item-layer
								#revenue-prev-4.no-ui-slider.absolute-slider
									span.slider-area__max-value
										span.slider-area__summ
											|100
										span.slider-area__currency
											|тыс.руб
									span.slider-area__min-value
										span.slider-area__summ
											|1
										span.slider-area__currency
											|тыс.руб
									p
										|Клиент 4
							.slider-area__item-layer
								#revenue-prev-5.no-ui-slider.absolute-slider
									span.slider-area__max-value
										span.slider-area__summ
											|100
										span.slider-area__currency
											|тыс.руб
									span.slider-area__min-value
										span.slider-area__summ
											|1
										span.slider-area__currency
											|тыс.руб
									p
										|Клиент 5
						//- .slider-area__metrics-wrapper
						//- 	p.slider-area__metrics-title
						//- 		|Клиенты/сегменты
						//- 	.slider-area__metrics
						//- 		.slider-area__metrics-client
						//- 			|1
						//- 		.slider-area__metrics-client
						//- 			|2
						//- 		.slider-area__metrics-client
						//- 			|3
						//- 		.slider-area__metrics-client
						//- 			|4
						//- 		.slider-area__metrics-client
						//- 			|5
					.slider-area__item-wrapper.prompt-cell
						p.slider-area__item-title
							|Прогнозная выручка за этот год
							span
								span.metric-description
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								i
									+svg2('question')
						.slider-area__item
							.slider-area__item-layer
								#revenue-curr-1.no-ui-slider.absolute-slider-2
									span.slider-area__max-value
										span.slider-area__summ
											|100
										span.slider-area__currency
											|тыс.руб
									span.slider-area__min-value
										span.slider-area__summ
											|1
										span.slider-area__currency
											|тыс.руб
									p
										|Клиент 1
							.slider-area__item-layer
								#revenue-curr-2.no-ui-slider.absolute-slider-2
									span.slider-area__max-value
										span.slider-area__summ
											|100
										span.slider-area__currency
											|тыс.руб
									span.slider-area__min-value
										span.slider-area__summ
											|1
										span.slider-area__currency
											|тыс.руб
									p
										|Клиент 2
							.slider-area__item-layer
								#revenue-curr-3.no-ui-slider.absolute-slider-2
									span.slider-area__max-value
										span.slider-area__summ
											|100
										span.slider-area__currency
											|тыс.руб
									span.slider-area__min-value
										span.slider-area__summ
											|1
										span.slider-area__currency
											|тыс.руб
									p
										|Клиент 3
							.slider-area__item-layer
								#revenue-curr-4.no-ui-slider.absolute-slider-2
									span.slider-area__max-value
										span.slider-area__summ
											|100
										span.slider-area__currency
											|тыс.руб
									span.slider-area__min-value
										span.slider-area__summ
											|1
										span.slider-area__currency
											|тыс.руб
									p
										|Клиент 4
							.slider-area__item-layer
								#revenue-curr-5.no-ui-slider.absolute-slider-2
									span.slider-area__max-value
										span.slider-area__summ
											|100
										span.slider-area__currency
											|тыс.руб
									span.slider-area__min-value
										span.slider-area__summ
											|1
										span.slider-area__currency
											|тыс.руб
									p
										|Клиент 5
						//- .slider-area__metrics-wrapper
						//- 	p.slider-area__metrics-title
						//- 		|Клиенты/сегменты
						//- 	.slider-area__metrics
						//- 		.slider-area__metrics-client
						//- 			|1
						//- 		.slider-area__metrics-client
						//- 			|2
						//- 		.slider-area__metrics-client
						//- 			|3
						//- 		.slider-area__metrics-client
						//- 			|4
						//- 		.slider-area__metrics-client
						//- 			|5
					.slider-area__item-wrapper.prompt-cell
						p.slider-area__item-title
							|Прибыльность клиента
							span
								span.metric-description
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								i
									+svg2('question')
						.slider-area__item
							.slider-area__item-layer
								#client-profitability-1.no-ui-slider.percent-slider-3
									p
										|Клиент 1
							.slider-area__item-layer
								#client-profitability-2.no-ui-slider.percent-slider-3
									p
										|Клиент 2
							.slider-area__item-layer
								#client-profitability-3.no-ui-slider.percent-slider-3
									p
										|Клиент 3
							.slider-area__item-layer
								#client-profitability-4.no-ui-slider.percent-slider-3
									p
										|Клиент 4
							.slider-area__item-layer
								#client-profitability-5.no-ui-slider.percent-slider-3
									p
										|Клиент 5
						//- .slider-area__metrics-wrapper
						//- 	p.slider-area__metrics-title
						//- 		|Клиенты/сегменты
						//- 	.slider-area__metrics
						//- 		.slider-area__metrics-client
						//- 			|1
						//- 		.slider-area__metrics-client
						//- 			|2
						//- 		.slider-area__metrics-client
						//- 			|3
						//- 		.slider-area__metrics-client
						//- 			|4
						//- 		.slider-area__metrics-client
						//- 			|5
