.chart
	.chart__layout
		.center
			h2.h2-title
				|Финальныe графики
			.f-container
				.chart-container
					canvas#myChart( width="400" height="400")
				.chart-container
					canvas#myChart2( width="400" height="400")
