.count-table
	.count-table__layout
		.center
			.f-container
				.count-table__data-wrapper
					table.count-table__data
						caption.table-caption
							|Расчетные значения
						thead.count-table__data-head
							tr.count-table__data-head-row
								th.count-table__data-head-cell.prompt-cell.desc-cell
									p
										|Руб
								th.count-table__data-head-cell.prompt-cell
									p
										|Клиент 1
									//- span
									//- 	span.metric-description
									//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									//- 	i
									//- 		+svg2('question')
								th.count-table__data-head-cell.prompt-cell
									p
										|Клиент 2
									//- span
									//- 	span.metric-description
									//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									//- 	i
									//- 		+svg2('question')
								th.count-table__data-head-cell.prompt-cell
									p
										|Клиент 3
									//- span
									//- 	span.metric-description
									//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									//- 	i
									//- 		+svg2('question')
								th.count-table__data-head-cell.prompt-cell
									p
										|Клиент 4
									//- span
									//- 	span.metric-description
									//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									//- 	i
									//- 		+svg2('question')
								th.count-table__data-head-cell.prompt-cell
									p
										|Клиент 5
									//- span
									//- 	span.metric-description
									//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									//- 	i
									//- 		+svg2('question')
								th.count-table__data-head-cell.prompt-cell
									p
										|Всего
									span
										//- span.metric-description
										//- 	|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										//- i
										//- 	+svg2('question')
								th.count-table__data-head-cell.prompt-cell.roix
									p
										|Только с ROIX +
									//- span
									//- 	span.metric-description
									//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									//- 	i
									//- 		+svg2('question')
						tbody.count-table__data-body
							tr.count-table__data-body-row.row-1
								td.count-table__data-body-cell.desc-cell
									p
										|Изменение удовлетворенности
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-2
								td.count-table__data-body-cell.desc-cell
									p
										|Прирост выручки
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-3
								td.count-table__data-body-cell.desc-cell
									p
										|триггер прирост выручки
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-4
								td.count-table__data-body-cell.desc-cell
									p
										|Прирост выручки от изменения удовлетворенности
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-5
								td.count-table__data-body-cell.desc-cell
									p
										|триггер прирост выручки от изменения удовлетворенности
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-6
								td.count-table__data-body-cell.desc-cell
									p
										|Доля выручки от удовлетворенноости в общей выручке
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-7
								td.count-table__data-body-cell.desc-cell
									p
										|коэф. Интревала прироста
								td.count-table__data-body-cell.first-cell
									p
										|0.2
								td.count-table__data-body-cell.second-cell
									p
										|0.2
								td.count-table__data-body-cell.third-cell
									p
										|0.2
								td.count-table__data-body-cell.forth-cell
									p
										|0.2
								td.count-table__data-body-cell.fifth-cell
									p
										|0.2
								td.count-table__data-body-cell.sixth-cell
									p
										|0.2
								td.count-table__data-body-cell.seventh-cell
									p
										|0.2
							tr.count-table__data-body-row.row-8
								td.count-table__data-body-cell.desc-cell
									p
										|коэф. Размера прироста
								td.count-table__data-body-cell.first-cell
									p
										|0.5
								td.count-table__data-body-cell.second-cell
									p
										|0.5
								td.count-table__data-body-cell.third-cell
									p
										|0.5
								td.count-table__data-body-cell.forth-cell
									p
										|0.5
								td.count-table__data-body-cell.fifth-cell
									p
										|0.5
								td.count-table__data-body-cell.sixth-cell
									p
										|0.5
								td.count-table__data-body-cell.seventh-cell
									p
										|0.5
							tr.count-table__data-body-row.row-9
								td.count-table__data-body-cell.desc-cell
									p
										|коэф. Инвестиций
								td.count-table__data-body-cell.first-cell
									p
										|0.01%
								td.count-table__data-body-cell.second-cell
									p
										|0.01%
								td.count-table__data-body-cell.third-cell
									p
										|0.01%
								td.count-table__data-body-cell.forth-cell
									p
										|0.01%
								td.count-table__data-body-cell.fifth-cell
									p
										|0.01%
								td.count-table__data-body-cell.sixth-cell
									p
										|0.01%
								td.count-table__data-body-cell.seventh-cell
									p
										|0.01%
							tr.count-table__data-body-row.row-10
								td.count-table__data-body-cell.desc-cell
									p
										|Объем Инвестиций в удовлетворенность
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-11
								td.count-table__data-body-cell.desc-cell
									p
										|триггер Объем инвестиций в удовлетворенность
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-12
								td.count-table__data-body-cell.desc-cell
									p
										|Итоговая прибыль после Инвестиций
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-13
								td.count-table__data-body-cell.desc-cell
									p
										|триггер  Итоговая прибыль после Инвестиций
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-14
								td.count-table__data-body-cell.desc-cell
									p
										|ROI от Инвестиций в  СХ
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-15
								td.count-table__data-body-cell.desc-cell
									p
										|Триггер 0
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-16
								td.count-table__data-body-cell.desc-cell
									p
										|Триггер 1
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-17
								td.count-table__data-body-cell.desc-cell
									p
										|Результат: подходит для инвестиций
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
