.count-table
	.count-table__layout
		.center
			.f-container
				.count-table__data-wrapper
					table.count-table__data
						caption.table-caption
							|Расчетные значения
						thead.count-table__data-head
							tr.count-table__data-head-row
								th.count-table__data-head-cell.prompt-cell
									p
										|Параметр
								th.count-table__data-head-cell.prompt-cell(colspan="5")
									table
										thead
											tr
												|Клиенты
											tr
												th
													p
														|1
												th
													p
														|2
												th
													p
														|3
												th
													p
														|4
												th
													p
														|5
								//- 	p
								//- 		|Клиент 1
								//- 	//- span
								//- 	//- 	span.metric-description
								//- 	//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								//- 	//- 	i
								//- 	//- 		+svg2('question')
								//- th.count-table__data-head-cell.prompt-cell
								//- 	p
								//- 		|Клиент 2
								//- 	//- span
								//- 	//- 	span.metric-description
								//- 	//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								//- 	//- 	i
								//- 	//- 		+svg2('question')
								//- th.count-table__data-head-cell.prompt-cell
								//- 	p
								//- 		|Клиент 3
								//- 	//- span
								//- 	//- 	span.metric-description
								//- 	//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								//- 	//- 	i
								//- 	//- 		+svg2('question')
								//- th.count-table__data-head-cell.prompt-cell
								//- 	p
								//- 		|Клиент 4
								//- 	//- span
								//- 	//- 	span.metric-description
								//- 	//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								//- 	//- 	i
								//- 	//- 		+svg2('question')
								//- th.count-table__data-head-cell.prompt-cell
								//- 	p
								//- 		|Клиент 5
								//- 	//- span
								//- 	//- 	span.metric-description
								//- 	//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								//- 	//- 	i
								//- 	//- 		+svg2('question')
								th.count-table__data-head-cell.prompt-cell
									p
										|Всего
										//- span.metric-description
										//- 	|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										//- i
										//- 	+svg2('question')
								th.count-table__data-head-cell.prompt-cell.roix
									p
										|Только с ROIX +
									//- span
									//- 	span.metric-description
									//- 		|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									//- 	i
									//- 		+svg2('question')
						tbody.count-table__data-body
							tr.count-table__data-body-row.row-1
								td.count-table__data-body-cell.desc-cell
									p
										span
											|&#916; удов-ти
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-2
								td.count-table__data-body-cell.desc-cell
									p
										span
											|&#916; выручки
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-3.hidden-row
								td.count-table__data-body-cell.desc-cell
									p
										span
											|триггер прирост выручки
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-4.hidden-row-mobile
								td.count-table__data-body-cell.desc-cell
									p
										span
											|Прирост выручки от изменения удов-ти
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-5.hidden-row
								td.count-table__data-body-cell.desc-cell
									p
										span
											|триггер прирост выручки от изменения удовлетворенности
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-6
								td.count-table__data-body-cell.desc-cell
									p
										span
											|Доля выручки от удов-ти в общей выручке
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-7.hidden-row
								td.count-table__data-body-cell.desc-cell
									p
										span
											|коэф. Интревала прироста
								td.count-table__data-body-cell.first-cell
									p
										|0.2
								td.count-table__data-body-cell.second-cell
									p
										|0.2
								td.count-table__data-body-cell.third-cell
									p
										|0.2
								td.count-table__data-body-cell.forth-cell
									p
										|0.2
								td.count-table__data-body-cell.fifth-cell
									p
										|0.2
								td.count-table__data-body-cell.sixth-cell
									p
										|0.2
								td.count-table__data-body-cell.seventh-cell
									p
										|0.2
							tr.count-table__data-body-row.row-8.hidden-row
								td.count-table__data-body-cell.desc-cell
									p
										span
											|коэф. Размера прироста
								td.count-table__data-body-cell.first-cell
									p
										|0.5
								td.count-table__data-body-cell.second-cell
									p
										|0.5
								td.count-table__data-body-cell.third-cell
									p
										|0.5
								td.count-table__data-body-cell.forth-cell
									p
										|0.5
								td.count-table__data-body-cell.fifth-cell
									p
										|0.5
								td.count-table__data-body-cell.sixth-cell
									p
										|0.5
								td.count-table__data-body-cell.seventh-cell
									p
										|0.5
							tr.count-table__data-body-row.row-9.hidden-row
								td.count-table__data-body-cell.desc-cell
									p
										span
											|коэф. Инвестиций
								td.count-table__data-body-cell.first-cell
									p
										|0.01%
								td.count-table__data-body-cell.second-cell
									p
										|0.01%
								td.count-table__data-body-cell.third-cell
									p
										|0.01%
								td.count-table__data-body-cell.forth-cell
									p
										|0.01%
								td.count-table__data-body-cell.fifth-cell
									p
										|0.01%
								td.count-table__data-body-cell.sixth-cell
									p
										|0.01%
								td.count-table__data-body-cell.seventh-cell
									p
										|0.01%
							tr.count-table__data-body-row.row-10
								td.count-table__data-body-cell.desc-cell
									p
										span
											|V инвестиций в удов-ть
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-11.hidden-row
								td.count-table__data-body-cell.desc-cell
									p
										span
											|триггер Объем инвестиций в удовлетворенность
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-12
								td.count-table__data-body-cell.desc-cell
									p
										span
											|Прибыль после инвестиций
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-13.hidden-row
								td.count-table__data-body-cell.desc-cell
									p
										span
											|триггер  Итоговая прибыль после Инвестиций
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-14
								td.count-table__data-body-cell.desc-cell
									p
										span
											|ROI от Инвестиций в  СХ
								td.count-table__data-body-cell.first-cell
									p
										|0%
								td.count-table__data-body-cell.second-cell
									p
										|0%
								td.count-table__data-body-cell.third-cell
									p
										|0%
								td.count-table__data-body-cell.forth-cell
									p
										|0%
								td.count-table__data-body-cell.fifth-cell
									p
										|0%
								td.count-table__data-body-cell.sixth-cell
									p
										|0%
								td.count-table__data-body-cell.seventh-cell
									p
										|0%
							tr.count-table__data-body-row.row-15.hidden-row
								td.count-table__data-body-cell.desc-cell
									p
										span
											|Триггер 0
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-16.hidden-row
								td.count-table__data-body-cell.desc-cell
									p
										span
											|Триггер 1
								td.count-table__data-body-cell.first-cell
									p
										|0
								td.count-table__data-body-cell.second-cell
									p
										|0
								td.count-table__data-body-cell.third-cell
									p
										|0
								td.count-table__data-body-cell.forth-cell
									p
										|0
								td.count-table__data-body-cell.fifth-cell
									p
										|0
								td.count-table__data-body-cell.sixth-cell
									p
										|0
								td.count-table__data-body-cell.seventh-cell
									p
										|0
							tr.count-table__data-body-row.row-17
								td.count-table__data-body-cell.desc-cell
									p
										span
											|Результат
								td.count-table__data-body-cell.first-cell
									p
										|-
								td.count-table__data-body-cell.second-cell
									p
										|-
								td.count-table__data-body-cell.third-cell
									p
										|-
								td.count-table__data-body-cell.forth-cell
									p
										|-
								td.count-table__data-body-cell.fifth-cell
									p
										|-
								td.count-table__data-body-cell.sixth-cell
									p
										|-
								td.count-table__data-body-cell.seventh-cell
									p
										|-
