extends pug/base



append vars


prepend vars





block links



block head-end












block content
			include pug/layouts/header
			include pug/layouts/body
			include pug/layouts/table
			include pug/layouts/footer
			//- .scrollmagic
				//- include pug/layouts/preview
				//- include pug/layouts/services2
				//- include pug/layouts/portfolio
				//- include pug/layouts/feedback
				//- include pug/layouts/form
			//- include pug/layouts/services
			//- include pug/layouts/about
			//- include pug/layouts/present
			//- include pug/layouts/footer
			//- include pug/layouts/_popup

